.container{
  width: 100%;
  height: auto;
  background: #fff;
  .head{
    width: 100%;
    height: 60px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    .back{
      width: 10%;
      font-family:"iconfont" !important;
      font-size:23px;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      color:#3773D8;
      line-height: 60px;
      text-align: center;
    }
    .pay{
      width: 90%;
      text-align: center;
      line-height: 60px;
      color: #333333;
      font-size: 18px;
      font-family: "黑体";
    }

  }

  .info{
    width: 100%;
    //height: 220px;
    margin-top: 10px;

    .infos{
      height: 100%;
      width: auto;
      padding: 0px 10px;
      display: -webkit-flex; /* Safari */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .pic {
        width: 40%;
        .img {
          height: auto;
          width: 100%;
        }
      }
      .detail{
        width:55%;
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: column;
        justify-content:  space-around;

        .title{
          font-size: 16px;
          color: #333333;
          font-family:"黑体";
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .date{
          font-size: 14px;
          color: #ababab;
        }
        .city{
          font-size: 14px;
          color: #ababab;
        }
      }

    }

    .pay_price{
      height: 45px;
      line-height: 45px;
      border-top: 1px solid #ececec;
      margin-top: 10px;
      margin-left: 10px;
      .fl{
          float: left;
          display: none;
          .appy_num{
              font-size: 16px;
              color: #000;
          }
          .num{
              padding-right: 5px;
              color: #157eda;
              font-size: 16px;
          }
      }
      .fr{
        float: right;
        .need_pay{
          color: #333333;
          font-size: 17px;
          float: left;
          margin-right: 10px;
        }
        .price{
          margin-right: 10px;
          font-size: 17px;
          color: red;
          float: left;
        }
      }
    }
  }

  .tickets{
    height: 45px;
    line-height: 45px;
    width: auto;
    border-top: 10px solid #ececec;
    border-bottom: 10px solid #ececec;
    .ticket{
      float: left;
      font-size: 16px;
      color: #000;
      margin-left: 10px;

    }
    .text{
        font-size: 16px;
        color: #ababab;
        float: right;
        margin-right: 8px;
    }
    .more{
      font-family:"iconfont" !important;
      font-size:18px;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      color:#ababab;
      float: right;
      margin-right: 10px;
    }
  }

  .pay{
    .line{
      margin-left: 10px;
      height: 2px;
      background-color: #ececec;
    }

    .pay_type{
      height: 45px;
      line-height: 45px;
      //display: flex;
      //flex-direction: row;
      margin-left: 10px;
      border-bottom: 2px solid #ececec;
      i{
        font-family:"iconfont" !important;
        font-size:25px;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        width: 6%;
      }
      .alipay{
        color:#43A0F5;
      }
      .wechar{
        color:#438500;
      }
      .text{
        font-size: 16px;
        margin-left: 10px;
        width: 88%;
      }
      .selected{
        color:#43A0F5;
        float: right;
        margin-right: 20px;
      }
      .no_selected{
        color:#ececec;
        float: right;
        margin-right: 20px;
      }
      &:last-child{
        border-bottom:0;
      }
    }

  }

  .pay_immediately{
    padding: 20px 10px;
    color: #ffffff;
    font-size: 20px;
    background: #ececec;
    .text{
      background-color: red;
      text-align: center;
      color: #ffffff;
      height: 44px;
      line-height: 44px;
      border-radius: 5px;
    }

  }


}
