/**
 * Created by qiuzengyuan on 2016/11/18.
 * File description:
 */
.container{
  .red{
    color:#ff2e2e;
  }
  background: #eee;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    font-size:15px;
    text-align: center;
  }
  .days,.hours,.minutes,.seconds{
    margin:0 10px;
    background:#fff;
    color:#ff2e2e;
    width:33px;
    height:28px;
    line-height:28px;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
  }
  .days{
    color:#fff;
    background:#ff2e2e;
  }
}
@media screen and (max-width:400px){
  .container{
    span{
      font-size:12px;
    }
    .days,.hours,.minutes,.seconds{
      margin: 0 5px;
      width:26px;
    }
  }
}