.container{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    background: #f6f6f6;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .img{
        width: 100%;
        height: 50px;
    }
}
