.container {
  width: 100%;
  min-height: 240px;
  background: #f6f6f6;
  padding-top: 21px;
  height: calc(100% - 21px);
  overflow: auto;
  .top {
    overflow: hidden;
    padding: 14px 12px;
    background: #fff;
    height: 46px;
    i {
      color: #999;
      font-size: 13px;
    }
    .title {
      float: left;
    }
    .img {
      float: left;
      overflow: hidden;
      width: 47px;
      height: 47px;
      border-radius: 50%;
      position: relative;
      img {
        width: 100%;
        background-size: cover;
      }
    }
  }
  .warn {
    .remind {
      float: right;
      margin-right: 10px;
      background: #ffa60b;
      border-radius: 24px;
      color: #fff;
      font-size: 15px;
      padding: 5px 10px;
      margin-top: 5px;
      .iconplus {
        font-size: 16px;
      }
    }
    .reminded {
      float: right;
      margin-right: 10px;
      background: #ccc;
      border-radius: 24px;
      color: #fff;
      font-size: 15px;
      padding: 5px 10px;
      margin-top: 5px;
      .iconplus {
        font-size: 16px;
      }
    }
  }
  .warn2 {
    display: none;
  }

  .title {
    margin-left: 15px;
    h5 {
      color: #666;
      font-size: 16px;
      line-height: 1.6;
      font-weight: normal;
    }
    .location {
      color: #666;
      font-size: 13px;
      .gift {
        margin-left: 25px;
        i {
          color: red;
        }
      }
    }
  }
  .description {
    padding: 0 20px;
    margin-top: 14px;
    margin-bottom: 18px;
    color: #666;
    font-size: 14px;
  }
  .btnGroup {
    display: flex;
    border-top: 1px solid #d8d8d8;
    background: #fff;
    width: 100%;
    > div {
      width: 50%;
      height: 45px;
      line-height: 45px;
      text-align: center;
      vertical-align: middle;
      box-sizing: border-box;
      font-size: 14px;
      color: #333;
      &:first-child {
        border-right: 1px solid #d8d8d8;
      }
      &:last-child {
        color: #2385dc;
      }
    }
    .followed {
      color: #333 !important;
    }
    .text {
      .detail {
        font-size: 14px;
        color: #666;
      }
    }
    .alreaded {
      color: red;
    }
    .fol {
      font-size: 14px;
      color: #666;
    }
  }
  .btnGroup2 {
    display: none;
  }
  .innerWrapper {
    height:calc(100% - 90px);
  }
}
