.container,.container2{
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
  overflow: visible;

  .bomb_box{
    background-color: #F5F5F5;
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -35%;
    margin-top: -70px;
    width: 70%;
    height: 27%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .info{
      height: 47%;
      width: 84%;
      font-size: 16px;
      padding: 8%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      .tips{
        color: #000;
        height: 25%;
      }
      .title{
        color: #3773D8;
        height: 25%;
      }
      .price{
        color: red;
        height: 25%;
      }

    }
    .yesorno{
      height: 30%;
      width: 100%;
      border-top: 1px solid #ababab;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      justify-content: space-between;
      a{
        width: 50%;
        font-size: 16px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #ababab;
        text-decoration: none;
        &.ok{
          color: #3773D8;
        }
        &:last-child{
          border-right:none;
        }
      }
    }

  }

  .top_pic{
    width: 100%;
    //height: 100%;
    padding-top: 45px;

    .img{
      width: 100%;
      height: 100%;
    }
  }

  .detail{
    width: auto;
    padding: 15px 10px;
      .coursetitle{
        font-size: 16px;
        font-weight: 700;
      }

      .share{
        font-family:"iconfont" !important;
        font-size:18px;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        padding-right: 10px;
        border-left: 1px solid #eee;
        padding-left: 13px;
      }
    .interest{
      color: #ababab;
      font-size: 15px;
      line-height: 30px;
    }

    .signup_num{
      margin-left: 20px;
      color: #000000;
      font-size: 15px;
    }

    .status{
      padding-bottom: 10px;
      border-bottom: 1px solid #ECECEC;

      .free{
        color: red;
        font-size: 15px;
      }

      .signup,.signupover{
        margin-left: 20px;
        color: #FFFFFF;
        font-size: 13px;
        background-color: #81CD13;
        border-radius: 3px;
        padding: 0 4px;
      }

      .signupover{
        background-color: red;
      }
      .now_price{
        color: red;
        font-size: 15px;
      }
      .original_price{
        margin: 0 5px;
        color: #ababab;
        font-size: 13px;
        text-decoration: line-through;
      }
      .discount{
        color: red;
        font-size: 13px;
      }
    }

    .key,.key1,.key2{
      color: #ababab;
      font-size: 15px;
      line-height: 30px;
    }
    .key1{
      letter-spacing: 30px;
    }
    .key2{
      letter-spacing: 7px;
    }
    .colon{
      margin-left: -25px;
      padding-right: 10px;
    }
    .colon2{
      padding-right: 10px;
      margin-left: -1px;
    }
    .colon3{
      padding-right: 10px;
      margin-left: 5px;
    }
    .value{
      color: #000000;
      font-size: 15px;
      line-height: 30px;
    }

    .pos{
      font-family:"iconfont" !important;
      font-size:18px;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 20px;
      color:#3773D8;
      text-decoration: none;
    }
    .phone{
      font-family:"iconfont" !important;
      font-size:18px;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 16px;
      color: red;
      text-decoration: none;
    }



  }

  .shadow{
    height: 10px;
    width: 100%;
    background-color: #ECECEC;
  }

  .content{
    width: auto;
    padding:8px;
    .title{
      font-size: 15px;
      color: #000;
      border-bottom: 1px solid #ECECEC;
      padding-bottom:6px;
    }

    .contents{
      color: #000000;
      font-size: 15px;
      line-height: 30px;
      margin-top: 10px;
    }


  }

  .line {
    width: 100%;
    height: 10px;
    background-color: #ECECEC;
    margin-top: 10px;
  }
  .title {
    font-size: 15px;
    border-bottom: 1px solid #ECECEC;
    padding: 5px 0px;
    margin: 0 10px;
    .text{
      font-weight: 700;
    }

    .lookall{
      float: right;
      color: #ababab;
    }

    .lookall_icon{
      font-family: "iconfont" !important;
      font-size: 18px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      color: #3773D8;
      text-decoration: none;
      float: right;
      margin-right: 10px;
      line-height: 26px;
    }

    .num {
      color: red;
    }

  }
  .empty{
    width: 100%;
    height: 12px;
  }
  .recommend{
    li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    padding: 0 10px;

    .pic {
      width: 35%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .info {
      width: 63%;
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-direction: column;
      position: relative;
      .fr{
        float: right;
        color: #ababab;
      }
      .type {
        background-color: #D03B3C;
        border-radius: 3px;
        font-size: 13px;
        color: #FFFFFF;
        padding: 0 4px;
      }
      .type2 {
        background-color: #659DF2;
        border-radius: 3px;
        font-size: 13px;
        color: #FFFFFF;
        padding: 0 4px;
      }
      .type3 {
        background-color: #E79138;
        border-radius: 3px;
        font-size: 13px;
        color: #FFFFFF;
        padding: 0 4px;
      }
      .type4 {
        background-color: #5CC97C;
        border-radius: 3px;
        font-size: 13px;
        color: #FFFFFF;
        padding: 0 4px;
      }
      .title2 {
        font-size: 15px;
        color: #333333;
        font-weight: 700;
        margin-left: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .name {
        color: #333;
      }

      .time {
        margin: 0 5px;
        color: #ababab;
      }
      .free {
        color: red;
        font-size: 14px;
      }
      .sale {
        font-size: 10px;
        text-decoration: line-through;
        margin: 0 5px;
        color: #ababab;
      }
      .discount {
        font-size: 10px;
        color: #ff2e2e;
      }
      .price {
        span {
          color: #ff2e2e;
          font-size: 14px;
          float: left;
        }
      }
      h1 {
        font-size: 16px;
        color: #333;
      }
      .seperator{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #eee;
        background-color: #eee;
      }

    }
  }
  }

  .float_bottom{
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0px;
  }

  .float_share{
    height: 195px;
    width: 100%;
    background-color: #F6F6F6;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
  }
}
.container2{
  overflow: hidden;
}
